<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.android.sdk.drm">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.huawei.android.sdk.drm.DrmDialogActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent" />
        </activity>
    </application>

</manifest>